.location-button{
  height: 80px;
  width: 94vw;
  margin-left: 3vw;
  background-color: #d24d57;
  margin-top: 10px;
  border-radius: 8px;
  float: left;
  position: relative;
}

.locations-text{
    margin-left: 30px;
    float: left;
    width: 80%;
    height: auto;
    color: white;
}

.location-name{
  font-size: 18px;
  margin-top: 5px;
  color: #f2f1ef;
}

.location-time{
  font-size: 15px;
  margin-top: 3px;
  width: auto;
  color: #f2f1ef;
  font-family: "Lora";
}

.location-events{
  font-size: 15px;
  margin-top: 5px;
  color: #f2f1ef;
  font-family: "Lora";
}

.location-eventtrig{
  height: 80px;
  width: 30px;
  /*background-color: blue;*/
  position: absolute;
  right: 100px;
}

.location-favorite{
  height: 80px;
  width: 80px;
  /*background-color: gold;*/
  line-height: 80px;
  text-align: center;
  position: absolute;
  right: 0px;
}

.dropdown{
  float: left;
  height: 125px;
  width: 90vw;
  margin-left: 5vw;
  background-color: #d9cfdd;

  border: none;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes drop{
  0% {height: 0px; color: transparent;}
  85% {height: 125px;}
  100% {color: black;}
}

.animateDrop{
  animation: drop 0.6s 1;
}

.upcoming-schedule-row{
  height: 25px;
  width: calc(100% - 10px);
  line-height: 25px;
  padding-left: 10px;
}

.schedule-times{
  float: right;
  margin-right: 20px;
}

/*CATEGORY*/

.category-button{
  height: calc(100vh / 5.5);
  width: 92vw;
  float: left;
  position: relative;
  margin-left: 4vw;
  background-color: #ba8d98;
  margin-top: 10px;
  border-radius: 8px;

  color: white;
  font-size: 28px;
  line-height: calc(100vh / 5.5);
  text-align: center;
}
